---
import MainLayout from '@layouts/Main.astro';
---

<MainLayout
  title="Blog"
  description="Whenever I feel like expressing my thoughts on some topic in a more elaborate manner, I’m going to do it here."
>
  <h1 class="font-bold text-4xl">Blog</h1>
  <ul>
    <li><a href="/posts/post-1">Post 1</a></li>
    <li><a href="/posts/post-2">Post 2</a></li>
    <li><a href="/posts/post-3">Post 3</a></li>
  </ul>
</MainLayout>
