---
import MainLayout from '@layouts/main.astro';
---

<MainLayout
  title="Blog"
  description="Whenever I feel like expressing my thoughts on some topic in a more elaborate manner, I’m going to do it here."
>
  <h1 class="font-bold text-4xl">Blog</h1>
</MainLayout>
