---
import MainLayout from '@layouts/Main.astro';
---

<MainLayout
  title="Resouces"
  description="List of useful resources mostly related to programming. Enjoy!"
>
  <h1 class="font-bold text-4xl">Resources</h1>
</MainLayout>
