---
import MainLayout from '@layouts/main.astro';
---

<MainLayout
  title="Tips"
  description="From time to time I encounter an issue that is not so obvious and there is no straightforward explanation on the internet. This is the place for my solutions of those issues."
>
  <h1 class="font-bold text-4xl">Tips</h1>
</MainLayout>
